/* Reset and Global Styles */
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overscroll-behavior: none;
}

* {
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

html {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

/* Color Variables */
:root {
  --color-white: #ffffff;
  --color-white-50: rgba(255, 255, 255, 0.5);
  --color-white-30: rgba(255, 255, 255, 0.3);
  --color-white-25: rgba(255, 255, 255, 0.25);
  --color-white-15: rgba(255, 255, 255, 0.15);
  --color-white-05: rgba(255, 255, 255, 0.05);
  --color-grey: #808080;
  --color-blue-300: #d0d6f9;
  --color-blue-900: #0b0d17;
}

/* Typography styles */
h1,
h2,
h3,
h4 {
  font-family: 'Bellefair', serif;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--color-white);
  margin: 0;
}

h1 {
  font-size: 144px;
  line-height: 171.9%;
}

h2 {
  font-size: 100px;
  line-height: 114.6%;
  margin-bottom: 1rem;
}

h3 {
  font-size: 56px;
  line-height: 120%;
  margin: 1.8rem 0;
}

h4 {
  font-size: 32px;
  line-height: 36.7%;
  opacity: 0.5;
  margin: 1rem 0;
}

h5 {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 4px;
  text-transform: uppercase;
  line-height: 33.6%;
  color: var(--color-blue-300);
  margin: 0;
  padding: 0;
}

/* Paragraph Styles */
.p-1,
.p-2,
.p-3,
.p-4 {
  margin: 1rem 0 0;
}

.p-1 {
  font-family: 'Bellefair', serif;
  font-size: 28px;
  line-height: 32.1%;
  text-transform: uppercase;
  color: var(--color-white);
}

.p-2 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 16.8%;
  color: var(--color-blue-300);
}

.p-3 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 19.2%;
  color: var(--color-white);
}

.p-4 {
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
  line-height: 180%;
  color: var(--color-blue-300);
}
